.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.logo{
  margin-top: 32px;
  width: 80%;
}

.conversation-container{
  margin: 0.25rem auto;
  background: #EEEEEE;
  padding: 1rem;
  box-shadow: 1px 1px 4px #3F3F3F;
}

.conversation-image{
  width: 100%;
  text-align: center;
}

.conversation-image .img{
  width: 50%;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
