
.login-container{
    width: 50%;
    margin: 5% auto;

}

.container-table{
    height: 100%;
}

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.register-link-container{
    margin-top: 16px;
}

.register-link{
    font-size: 0.7em;
}

.fb-login-button-text{
    font-size: 0.8em;
    margin-left: 8px;
}

.input-group-addon{
    width: 64px;
}


.sign-in-button{
    font-size: 0.8em;
    margin-top: 16px;
    margin-bottom: 16px;
}

.btn-container{
    margin: 16px auto;
}