.browse-root{
    background: #EEEEEE;
    padding: 5%;
}

.discover-card-buttons{

}

.discover-button{
    width: 96px;
    height: 96px;
    border-radius: 100%;

}

.discover-button-container{


}

.reject{

    border-radius: 50%;

}