html, body, .container-table{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ui-card{
  background: #EEEEEE;
  padding: 8px;
  box-shadow: 4px 4px 5px #757575;
  padding: 3% 3% 1% 3%;
}
