.back-to-login-text{
    font-size: 0.8em;
    margin-left: 8px;
    color: #616161;
}

.register-button{
    font-size: 0.8em;
    margin-top: 16px;
    margin-bottom: 16px;
}

.back-to-login .fa{
    color: #616161;
}

.btn-container{
    margin: 16px auto;
}
